
/* GLOBAL RULES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;

    margin: 0;
    padding: 0;

    user-select: none;
}

:root{
    --primarybg: #0B1C33;
    --secondarybg: #21365F;
    --hoverbg: #214386;
    --atext: #278EA5;
    --hovertext: #35b7d4;
    --primarytext: #FFFFFF;
    --secondarytext: #989898;
    --tertiarytext: #0DC26B;
    --deletetext: #cc2e2e;
    --maxlistwidth: 375px;
}

body{
    background-color: var(--primarybg);
    color: var(--primarytext);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#root{
    width: max-content;
    height: max-content;
    margin: 41px;
    display: flex;
}

.hide{
    display: none !important;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-track {
    background-color: var(--primarybg);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondarybg);
    border: 2px solid var(--primarybg);
    border-radius: 9999px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: var(--hoverbg);
}



/* HANDLES LISTS AND TASKS */
/* List styling */
.list{
    display: flex;
    flex-direction: column;
    width: var(--maxlistwidth);
    max-width: var(--maxlistwidth);
    height: max-content;
    margin-right: 34px;
    
    background-color: var(--secondarybg);
    border-radius: 8px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
    
    overflow: hidden;
    transition: max-width .5s, margin-right 1s 0.5s, padding .5s;
}
/* Container for List title and icons */
.listheader{
    padding-left: 12px;
    padding-top: 14px;
    padding-right: 22px;
    overflow: hidden;

    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.greenify{
    /* animation: greenify .3s ease-out forwards; */
    filter: invert(.5) sepia(1) hue-rotate(80deg) saturate(4);
}


/* Styles the input tag for the list title */
.listtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: var(--primarytext);
    background-color: var(--secondarybg);
    
    padding: 4px 13px;
    width: 100%;
    
    outline: none;
    border-radius: 8px;
    border: 2px solid var(--secondarybg);

    transition: 0.1s all;
}
.listtitle:hover{
    color: var(--atext);
}
.listtitle:focus{
    color: var(--primarybg);
    background-color: white;
    border: 2px solid var(--atext);
}
/* Container for the icons */
.listicons{
    display: flex;
    column-gap: 21px;
}
.listicons *{
    cursor: pointer;
}

/* Container for list of tasks */
.listtasks{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
    padding: 20px 0px;
}
/* Container for task */
.task{
    width: 100%; 
    max-height: 300px;

    margin-top: 10px;
    padding: 11px 23px;
    border-left: 4px solid transparent;
    overflow: hidden;

    cursor: pointer;
    transition: max-height 1s, padding 1s .5s, margin-top 1s .5s, box-shadow 0.2s, border-left 0.2s;  
}
.task:hover{
    border-left: 4px solid var(--tertiarytext);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);

    /* text-decoration: line-through;
    color: var(--tertiarytext); */
}
.taskheader{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tasktitle{
    overflow-wrap: break-word;
    max-width: 80%;
    font-size: 18px;
    font-weight: 400;
}
.taskdescription{
    overflow-wrap: break-word;
    max-width: 80%;
    font-size: 12px;
    font-weight: 400;
    color: var(--secondarytext);
}

/* Container for new task section */
.listnewtask{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 14px 27px;
}
/* Button to activate new task form */
.newtaskbtn{
    color: var(--atext);
    font-size: 18px;

    user-select: none;
    -moz-user-select: none;
    cursor: pointer;

    transition: 0.1s all;
}
.newtaskbtn:active{
    color: var(--primarytext)
}

/* Container for actual new task form */
.listnewtask input{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: var(--primarytext);
    background-color: var(--secondarybg);

    outline: none;
    border: transparent;
}
.listnewtask input::placeholder{
    color: var(--atext);
}
.descriptioninput{
    height: max-content;
    max-width: 80% !important;
    color: var(--secondarytext) !important;
    font-size: 12px !important;
    margin-bottom: 34px;
}

/* Form buttons */
.newtaskbtns, .newlistbtns{
    display: flex;
    column-gap: 30px;
    margin-bottom: 10px;
}
.newtaskbtns *, .newlistbtns *{
    cursor: pointer;

}
.newtaskbtns *:hover, .newlistbtns *:hover{
    background-color: var(--hoverbg);
}

/* Strikethrough Magic */
.strikethrough{
    color: var(--tertiarytext);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    /* transition: background-size .3s; */
    animation: strikethrough .5s ease-in-out forwards;
}
@keyframes strikethrough {
    from {background-size: 0% 2px; color: currentColor;}
    to {background-size: 100% 2px; color: var(--tertiarytext);}
}
.completed{
    color: var(--tertiarytext);
    text-decoration: line-through;
    transition: color 0.3s;
}
.deleting{
    color: var(--deletetext) !important;
}

/* Checkmark Magic */
.checkmark{
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}
.checkmark2{
    filter: hue-rotate(0deg) saturate(1);
    transition: filter .2s;
}
.redify{
    filter: hue-rotate(-110deg) saturate(7);
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Collapse magic */
.collapseup{
    max-height: 0px;
    margin-top: 0px;
    padding: 0px;
}
.collapseleft{
    max-width: 0px;
    margin-right: 0px;
    padding: 0px;
}


/* SECTION HANDLES NEW LIST CREATION */
/* Container for New list button */
#newlistbtn{
    display: flex;
    flex-direction: column;

    width: var(--maxlistwidth);
    height: max-content;
    padding: 14px 20px;
    margin-right: 34px;

    background-color: var(--secondarybg);
    border-radius: 8px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
}
/* Button to activate new list form */
.newlistbtn{
    text-align: center;
    color: var(--atext);

    cursor: pointer;
    user-select: none;

    transition: .05s all;
}
.newlistbtn:hover, .newtaskbtn:hover{
    color: var(--hovertext);
}
.newlistbtn:active{
    color: var(--primarytext);
}
/* rules the new list form */
.newlisttitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: var(--primarybg);
    background-color: var(--primarytext);
    
    padding: 4px 13px;
    width: 100%;
    
    outline: none;
    border-radius: 8px;
    border: 2px solid var(--atext);

    transition: 0.1s all;
}
.newlistbtns{
    margin-top: 20px;
    margin-bottom: 0;
}